[Unit]
Description=Your Go Server
After=network.target

[Service]
Type=simple
User=yourusername
ExecStart=/root/backend/build/go_server.service
Restart=on-failure
WorkingDirectory=/root/backend/
EnvironmentFile=/root/backend/.env

[Install]
WantedBy=multi-user.target
